<div class="order-card">
    <div class="order-card-header">
        <app-flex alignItems="center" justifyContent="space-between" flexWrap="wrap">
            <div>
                <h5>#00000</h5>
            </div>
            <div>
                <h4>Заказ от 12 февраля</h4>
            </div>
            <div>
                <app-button variant="btn-primary">
                    Подробно <i class="bi bi-arrow-right"></i>
                </app-button>
            </div>
            <div>
                <h4 class="order-card-header-payed">Оплачено 259 ₽</h4>
            </div>
        </app-flex>
    </div>
    <div class="order-card-body">
        <app-flex justifyContent="space-between">
            <div>
                <h4>Доставка в пункт выдачи</h4>
                <h5>Дата доставки: 16 февраля в 19:19</h5>
            </div>
            <app-flex gap="10px" justifyContent="flex-end" flexWrap="wrap">
                <app-product-card-thumb imgSrc="assets/img/archipelag_gulag.jpg"></app-product-card-thumb>
                <app-product-card-thumb imgSrc="assets/img/zamyatin_mi.jpg"></app-product-card-thumb>
                <app-product-card-thumb imgSrc="assets/img/kafka-zamok.jpg"></app-product-card-thumb>
                <app-product-card-thumb imgSrc="assets/img/voina_i_mir.jpg"></app-product-card-thumb>
            </app-flex>
        </app-flex>
    </div>
</div>