@import "../../styles";

.popup-target {
  position: relative;
}

.popup-body {
  position: absolute;
  z-index: 1;

  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.popup-content {
  position: relative;
  padding: 10px;
}

.popup-close {
  position: absolute;
  right: -3px;
  top: -3px;

  font-size: 1rem;
  text-align: center;

  color: #313131;
  background-color: $color-layer-1;

  border-radius: 50%;
  border: 0;

  box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px;

  height: 20px;
  width: 20px;
}
