@import "../../../styles";

.menu-option {
    display: block;
    width: 100%;
  
    padding: 5px 10px;
  
    border: 0;
  
    font-size: 1.1rem;
    text-align: center;
  
    background-color: inherit;
    color: $color-text-light;
  
    &:hover {
      background-color: $color-layer-0;
    }
  }