// Color

$color-line: #ccc;

$color-layer-0: #f4f4f4;
$color-layer-1: white;

$color-text: #1a1a1a;
$color-text-light: #626262;

$color-primary: #009999;
$color-primary-hover: #006e6e;
$color-primary-active: #005454;

$color-disabled: #ccc;

$color-secondary: #8a8a8a;
$color-secondary-hover: #545454;
$color-secondary-active: #313131;

$color-danger: #dc3545;
$color-danger-focus: #a42834;
$color-danger-active: #88212b;

$color-ui-capture: white;

// Width

$width-tablet: 768px;
$width-mobile: 500px;
