@import "../../../../shared/styles";

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;

  & a {
    color: $color-secondary;
    transition: color linear 0.2s;

    &:hover {
      color: $color-secondary-hover
    }
  }

}

.checkout-right-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 10px;
  text-align: right;
}