<div class="filter-block">
    <app-button class="show-filters-btn" variant="btn-outline-primary width-100" type="button">
        <i class="bi bi-list"></i> Фильтры
    </app-button>
    <div class="filters" id="list-filters">
        <app-filter-button>НАЛИЧИЕ</app-filter-button>
        <app-filter-button>ЦЕНА</app-filter-button>
        <app-filter-button>ЖАНР</app-filter-button>
        <app-filter-button>АВТОР</app-filter-button>
        <app-filter-button>ВСЕ ФИЛЬТРЫ <i class="bi bi-filter"></i></app-filter-button>
    </div>
</div>