.gap-0 {
  gap: 0;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

// :host(.gap-0) {
//   gap: 0;
// }

// :host(.gap-5) {
//   gap: 5px;
// }

// :host(.gap-10) {
//   gap: 10px;
// }

// :host(.gap-20) {
//   gap: 20px;
// }

// :host(.gap-30) {
//   gap: 30px;
// }