/* Header
=====================*/

.app-header {
    margin-bottom: 20px;
  }
  
  .header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    padding: 10px 0;
  }
  
  .header-menu {
    display: flex;
    column-gap: 1.5rem;
    margin-bottom: 10px;
  }
  
  .header-searchbar-menu-nav {
  
  }
  
  .header-searchbar-menu {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Searchbar
  =====================*/
  
  .header-logo-searchbar {
    display: flex;
    flex: auto;
    align-items: center;
    column-gap: 2rem;
  
    margin-bottom: 10px;
  }
  
  .header-searchbar {
    margin-bottom: 10px;
    margin-right: 50px;
    flex: auto;
  }
  
  @media (max-width: 725px) {
    .header-logo-searchbar,
    .header-menu {
      margin-bottom: 20px;
    }
  
    .header-inner,
    .header-nav {
      justify-content: center;
    }
  }
  
  @media (max-width: 606px) {
    .header-searchbar {
      margin-right: 0;
    }
  }
  
  /* Nav
  =====================*/
  .header-nav {
    display: flex;
    flex: 100%;
    column-gap: 30px;
  
    white-space: nowrap;
    line-height: 1.6;
  }
  